body{
	background-image:url("../../resources/background.png");
	font-family: 'visitor';}
@font-face {
    font-family: 'visitor';
    src: url('../../resources/fonts/visitor1-webfont.eot');
    src: url('../../resources/fonts/visitor1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../resources/fonts/visitor1-webfont.woff') format('woff'),
         url('../../resources/fonts/visitor1-webfont.ttf') format('truetype'),
         url('../../resources/fonts/visitor1-webfont.svg#visitor_tt1_brkregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.t1{
text-align:center;
margin-left:auto; 
margin-right:auto;
list-style-type:none;
display:none;
}
.tdBox{
vertical-align:top;
display:inline-block;
margin:20px;
}
.userTable{
border-collapse:collapse;
border-spacing: 0;
text-align:center;
max-width:219px;
}
.userPseudo{
background-image:url('../../resources/contrast.png');
color:#f0d79e;
font-size:20px;
border:1px black;
}
.tdPicto{
font-size:10px;
padding:0;
margin:0;
border: 1px solid #808080;
margin-top:-1px;
margin-left:-1px;
width:30px;
height:30px;
background-color:#f0d79e;
}
p{
margin:0px;
}
p img{
margin-top:2px;
}

.submit{
position:absolute;
top:10px;
right:10px;
}

ul{
list-style-type:none;
}

.userTable li{
display:inline-block;
}

.userTable ul{
padding:0;
margin:0;
}

.userTable tr:first-child{
padding:0;
margin:0;
border:1px black;
}

.tdPicto img{
width:16px;
height:16px;
}

tr A:link {text-decoration: none;color:inherit;cursor: default;}
tr A:visited {text-decoration: none;color:inherit;cursor: default;}
tr A:active {text-decoration: none;color:inherit;cursor: default;}
tr A:hover {text-decoration: none;color:inherit;cursor: default;}